
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="utf-8"/>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<meta class="foundation-data-attribute-namespace"/>
<meta class="foundation-mq-xxlarge"/>
<meta class="foundation-mq-xlarge"/>
<meta class="foundation-mq-large"/>
<meta class="foundation-mq-medium"/>
<meta class="foundation-mq-small"/>
<title>账户充值 - 爱微爱分销微店</title>
<link rel="stylesheet" type="text/css" href="../default/css/foundation.css"/>
<link rel="stylesheet" type="text/css" href="../default/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../default/app/cz.css"/>
<script src="../default/js/jquery.js"></script>
<script src="../default/js/drp_foundation.js"></script>
</head>
<body>
<div class="mask"></div>
<div class="fixed">
	<nav class="tab-bar">
		<section class="left-small"> <a class="menu-icon" href="./my.php"><span></span></a> </section>
		<section class="middle tab-bar-section">
			<h1 class="title">账户充值</h1>
		</section>
		<section class="right-small right-btn-brokerage"> <a class="a-borkerage-detail" href="javascript:;"
		   onclick="window.location.href='#'">明细</a> </section>
	</nav>
</div>
<div class="bro-spare">
	<p class="tip-txt"><i class="icon-money"></i>账户余额（元）</p>
	<span class="number-big">0</span>
	<p class="field-2">我的积分：<big>0</big></p>
</div>
<div class="my_menu">
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<ul>
			<li><a href="#" >
				<p>10元</p>
				1000积分</a> </li>
		</ul>
		<div class="clear"></div> 
	</div>

</body>
</html>