.con .con-t {
  border-bottom: 1px solid #ccc;
  height: 48px;
}
.con .con-t ul li {
  float: left;
  width: 25%;
  text-align: center;
  line-height: 48px;
  position: relative;
  border-right: 1px solid #ccc;
}
.con .con-t ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.con .con-t ul li:nth-of-type(2) i {
  position: absolute;
  top: 19px;
  width: 6px;
  height: 10px;
  background: url("../images/yws_lz/cjzg/sprite.png") no-repeat 0 -19px;
}
.con .con-t ul li:nth-of-type(3) i {
  position: absolute;
  top: 18px;
  width: 10px;
  height: 11px;
  background: url("../images/yws_lz/cjzg/sprite.png") no-repeat -8px -18px;
}
.con .con-t ul li:last-child {
  border-right: none;
  height: 100%;
}
.con .con-t ul li:last-child a {
  width: 23px;
  height: 21px;
  margin: 12px  auto;
  background: url("../images/yws_lz/cjzg/sprite.png") no-repeat -50px 0;
}
.con .con-box ul {
  margin-bottom: 60px;
}
.con .con-box ul li {
  height: 96px;
  padding: 12px ;
  border-bottom: 1px solid #ccc;
}
.con .con-box ul li p {
  padding-top: 12px ;
  margin-left: 84px;
  margin-bottom: 6px;
  color: #000;
  font-size: 16px ;
}
.con .con-box ul li span {
  margin-left: 12px;
  font-size: 14px;
  color: #000;
}
.con .con-box ul li a{
  display: block;
  width: 100%;
  height: 100%;
}
.con .con-box ul li img {
  display: inline-block;
  height: 72px;
  float: left;
  width: 72px;
  background-color: antiquewhite;
  border: 1px solid #ccc;
}
