.showbox {
    width: 100%;
    height: 100%;
    background: url("../images/yws_lz/fgssq/bg.png") no-repeat center / cover;
    overflow: hidden;
    padding: 0px 20px;
    z-index: 2;
}
.showbox .con {
    height: 100%;
    width: 100%;
}
.showbox .con h3 {
    color: white;
    background: url("../images/yws_lz/fgssq/sqbz.png") no-repeat center / contain;
    height: .7rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: .3rem;
    margin-top: .3rem;
}
.showbox .con h3 span {
    padding-left: 10000rem;
}
.showbox .con ul li {
    width: 100%;
    margin-bottom: .15rem;
    padding: .05rem .15rem;
    height: 1.3rem;
    color: white;
    position: relative;
    transform: translate(20rem, 0);
    -webkit-transform: translate(20rem, 0);
    -moz-transform: translate(20rem, 0);
    -o-transform: translate(20rem, 0);
    -ms-transform: translate(20rem, 0);
}
.showbox .con ul li.animation {
    transform: translate(0rem, 0);
    -webkit-transform: translate(0rem, 0);
    -moz-transform: translate(0rem, 0);
    -o-transform: translate(0rem, 0);
    -ms-transform: translate(0rem, 0);
}
.showbox .con ul li p {
    float: left;
    width: 5.5rem;
    font: normal 400 0.26rem/0.35rem "MicroSoft YaHei";
}
.showbox .con ul li span {
    position: absolute;
    bottom: 0;
    right: .2rem;
    font: normal 700 0.8rem/0.8rem "MicroSoft YaHei";
}
.showbox .con ul li:nth-of-type(1) {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}
.showbox .con ul li:nth-of-type(2) {
    transition: all .3s 1s;
    -webkit-transition: all 1s .3s;
    -moz-transition: all 1s .3s;
    -o-transition: all 1s .3s;
    -ms-transition: all 1s .3s;
}
.showbox .con ul li:nth-of-type(3) {
    transition: all 1s .6s;
    -webkit-transition: all 1s .6s;
    -moz-transition: all 1s .6s;
    -o-transition: all 1s .6s;
    -ms-transition: all 1s .6s;
}
.showbox .con ul li:nth-of-type(4) {
    transition: all 1s .9s;
    -webkit-transition: all 1s .9s;
    -moz-transition: all 1s .9s;
    -o-transition: all 1s .9s;
    -ms-transition: all 1s .9s;
}
.showbox .con ul li:nth-of-type(5) {
    transition: all  1s 1.2s;
    -webkit-transition: all  1s 1.2s;
    -moz-transition: all  1s 1.2s;
    -o-transition: all  1s 1.2s;
    -ms-transition: all  1s 1.2s;
}
.showbox .con ul li:nth-of-type(6) {
    transition: all  1s 1.5s;
    -webkit-transition: all  1s 1.5s;
    -moz-transition: all  1s 1.5s;
    -o-transition: all  1s 1.5s;
    -ms-transition: all  1s 1.5s;
}
.showbox .con ul li:nth-of-type(2n) {
    border-radius: 0 .2rem 0 .2rem;
}
.showbox .con ul li:nth-of-type(2n+1) {
    border-radius: .2rem 0 .2rem 0;
}
.showbox .con ul li:first-child > p,
.showbox .con ul li:nth-of-type(2) > p,
.showbox .con ul li:nth-of-type(4) > p,
.showbox .con ul li:nth-of-type(6) > p {
    padding-top: .3rem;
}
.showbox .con ul li:nth-of-type(3) {
    height: 1.5rem;
}
.showbox .con ul li:nth-of-type(5) > p {
    margin-top: .45rem;
}
.showbox .con ul li:nth-of-type(3) > p {
    padding-top: .2rem;
}
.showbox .con .next {
    position: absolute;
    bottom: .3rem;
    left: 50%;
    margin-left: -1rem;
    height: .5rem;
    width: 2rem;
    text-align: center;
    font-size: .2rem;
}
.showbox .con .next a {
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.showbox .con .next a span {
    display: inline-block;
    line-height: .5rem;
}
/*定义动画*/
@keyframes scaleBig {
    0% {
        -webikit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: .7;
    }
    50% {
        -webikit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
        opacity: 1;
    }
    100% {
        -webikit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: .7;
    }
}
@-webkit-keyframes scaleBig {
    0% {
        -webikit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: .7;
    }
    50% {
        transform: scale(1.3, 1.3);
        -webikit-transform: scale(1.3, 1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        -webikit-transform: scale(1, 1);
        opacity: .7;
    }
}
.scaleBig1 {
    animation: scaleBig 3s linear infinite;
    -webikit-animation: scaleBig 3s linear infinite;
}
.scaleBig2 {
    animation: scaleBig 3s 1s linear infinite;
    -webikit-animation: scaleBig 3s 1s linear infinite;
}
.scaleBig3 {
    animation: scaleBig 3s 2s linear infinite;
    -webikit-animation: scaleBig 3s 2s linear infinite;
}
