.con {
    width: 100%;
    min-height: 100%;
    background: url("../images/yws_lz/fgssq/bg.png") no-repeat center / cover;
    padding: 20px;
}
.con form {
    width: 100%;
    height: 100%;
}
.con form .con-box {
    border-radius: 8px;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    color: #fff;
    background-color:  rgba(141, 205, 255, 0.7)
}
.con form .con-box h3 {
    text-align: center;
    font: normal 400 18px/30px "MicroSoft YaHei";
}
.con form .con-box > p {
    font: normal 400 14px/20px "MicroSoft YaHei";
}
.con form .con-box ul li {
    margin: 20px 0;
}
.con form .con-box ul li p {
    position: relative;
    font-size: 14px;
}
.con form .con-box ul li p i {
    vertical-align: middle;
    color: red;
}
.con form .con-box ul li span {
    text-align: center;
    font-size: 12px;
    display: block;
    line-height: 20px;
}
.con form .con-box ul li span i {
    color: red;
    vertical-align: middle;
}
.con form .con-box ul li .con-box-son {
    margin: 8px auto;
    width: 200px;
    height: 150px;
    position: relative;
}
.con form .con-box ul li .con-box-son .img-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.con form .con-box ul li .con-box-son a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
    position: absolute;
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 40px;
    color: #fff;
    /* background: url("../images/yws_lz/fgssq/file.png") no-repeat center/contain;*/
}
.con form .con-box ul li .con-box-son a input {
    position: absolute;
    right: -1px;
    top: -1px;
    font-size: 100px;
    opacity: 1;
    color: transparent;
    height: 151px;
    filter: alpha(opacity=1);
}
.con form .con-box ul li .con-box-son .filebox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
.con form .con-box ul li .con-box-son .filebox .filebox-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.con form .con-box ul h6 {
    margin-top: 10px;
    font: normal 400 12px "MicroSoft YaHei";
    color: #666;
}
 #finish {
    /*width: 46%;
    height: 48px;
    background: url("../images/yws_lz/fgssq/finish.png") no-repeat center / contain;
    color: white;
    line-height: 48px;
    text-align: center;
    margin: 20px 28%;
    font-size: 14px;*/
     right: 10%;
     display: block;
     margin: 10px auto;
     background-color: skyblue!important;
     text-align: center;
     height: 37px;
     width: 31%;
     color: #fff;
     border-radius: .1rem;
     font: normal 400 14px/36px "MicroSoft YaHei";
}


#alertBox{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    z-index: 10000;
    display: none;
}
#newzeroselltips {

    height: 120px;
    width: 60%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 190px;
    left: 20%;
    z-index: 1000;
}

#msg {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: red;
}

#iknow {
    width: 90px;
    height: 36px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12px;
    border-radius: 7px;
    background: #99bbf5;
    color: white;
    text-align: center;
    line-height: 36px
}