section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}
/*第一屏 start*/
body {
    background: url("../images/yws_lz/fgssq/bg.png") no-repeat center / cover;
    overflow: hidden;
}

.con {

    height: 200px;
    width: 80%;
    margin:50px auto;
    margin-top:30%;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}