.showbox {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto 0;
    padding: 0px 40px;
    z-index: 2;
    background: url("../images/yws_lz/fgssq/bg.png") no-repeat center / cover;
    overflow: hidden;
}
.showbox form {
    width: 100%;
    height: 100%;
}
.showbox .con {
    height: 100%;
    width: 100%;
    position: relative;
}
.showbox .con h3 {
    text-align: center;
    font: normal 400 18px/24px "MicroSoft YaHei";
    height: .7rem;
    width: 100%;
    margin: .5rem 0;
    overflow: hidden;
    background: url("../images/yws_lz/fgssq/tjzl.png") no-repeat center / contain;
}
.showbox .con ul {
    background-color: rgba(141, 205, 255, 0.7);
    position: relative;
    padding: .5rem;
    border-radius: .2rem;
}
.showbox .con ul .annotation {
    position: absolute;
    bottom: .1rem;
    left: 0.3rem;
    color: #fff;
    font-size: .24rem;
}
.showbox .con ul li {
    margin-bottom: .15rem;
}
.showbox .con ul li p {
    text-align: center;
    position: relative;
    font-size: 14px;
    color: white;
}
.showbox .con ul li .con-box {
    position: relative;
    width: 4rem;
    height: 2rem;
    margin: .1rem auto;
}
.showbox .con ul li .con-box .img-box {
    position: absolute;
    width: 100%;
    height: 100%;
}
.showbox .con ul li .con-box a {
    width: 100%;
    height: .5rem;
    overflow: hidden;
    float: left;
    top: 0.75rem;
    position: relative;
    text-align: center;
    line-height: 21px;
    color: #fff;
    font-size: .8rem;
    z-index: 22;
}
.showbox .con ul li .con-box a input {
    position: absolute;
    right: -1px;
    top: -1px;
    font-size: 100px;
    opacity: 1;
    filter: alpha(opacity=1);
}
.showbox .con ul li .con-box .filebox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.showbox .con ul li .con-box .filebox .filebox-box {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    margin: 0 auto;
}
.showbox .con .next-page {
    margin-left: -0.2rem;
    position: absolute;
    bottom: -0.8rem;
    width: 100%;
    text-align: center;
    padding: .1rem;
    color: #fff;
    font: normal 700 14px "MicroSoft YaHei";
}
.showbox .con .next-page i {
    display: inline-block;
    -webkit-transform: scale(1, 1.8);
    transform: scale(1, 1.8);
}
.showbox .con-first ul {
    margin-top: .5rem;
    padding: .5rem;
    border-radius: .2rem;
}
.showbox .con-first ul li {
    margin-bottom: .15rem;
}
.showbox .con-next #prevPage {
    position: absolute;
    bottom: -0.8rem;
    width: 50%;
    left: 0;
    padding: .1rem;
    color: #fff;
    text-align: right;
    font: normal 700 14px "MicroSoft YaHei";
}
.showbox .con-next #prevPage i {
    -webkit-transform: scaleY(1.8);
    display: inline-block;
    transform: scaleY(1.8);
}
.showbox .con-next #nextPage1 {
    margin-left: -0.2rem;
    position: absolute;
    bottom: -0.8rem;
    width: 50%;
    text-align: left;
    padding: .1rem;
    right: 0;
    color: #fff;
    font: normal 700 14px "MicroSoft YaHei";
}
.showbox .con-next #nextPage1 i {
    display: inline-block;
    -webkit-transform: scale(1, 1.8);
    transform: scale(1, 1.8);
}
.con-next,
.con-end {
    display: none;
}
.con-next ul,
.con-end ul {
    margin-top: .5rem;
}
.con-next ul li,
.con-end ul li {
    margin-bottom: 0;
}
.con-next .prev-page,
.con-end .prev-page {
    position: absolute;
    bottom: 15px;
    left: -12px;
    padding: 12px;
    color: #fff;
    font: normal 700 14px "MicroSoft YaHei";
}
.con-next .prev-page i,
.con-end .prev-page i {
    -webkit-transform: scaleY(1.8);
    display: inline-block;
    transform: scaleY(1.8);
}
.con-end.con {
    display: none;
}
.con-end.con ul {
    margin-top: 1.5rem;
    padding: .1rem .3rem .5rem;
}
.con-end.con ul h6 {
    text-align: center;
    font: normal 400 0.45rem/1rem "MicroSoft YaHei";
    color: white;
}
.con-end.con ul li {
    border: 1px solid #fff;
    margin-bottom: .5rem;
    position: relative;
    padding: .3rem .2rem;
}
.con-end.con ul li:before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 1.5rem;
    width: 1px;
    background-color: #fff;
}
.con-end.con ul li p {
    height: 100%;
}
.con-end.con ul li p span {
    float: left;
    height: 100%;
}
.con-end.con ul li p input {
    width: 140px;
    background-color: transparent;
    position: absolute;
    left: 1.7rem;
    color: white;
}
.con-end.con ul .prev-page {
    position: absolute;
    bottom: -0.8rem;
    width: 100%;
    text-align: center;
    padding: .1rem;
    color: #fff;
    font: normal 700 14px "MicroSoft YaHei";
}
.con-end.con ul .prev-page i {
    display: inline-block;
    -webkit-transform: scale(1, 1.8);
    transform: scale(1, 1.8);
}
.finish {
    width: 40%;
    height: 40px;
    border-radius: .15rem;
    border: 1px solid #fff;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    margin-left: -20%;
    color: white;
    line-height: 40px;
    text-align: center;
    display: none;
    font-size: 14px;
}
