section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}
/*第一屏 start*/
.section1 {
    background: url("../images/yws_lz/fgssq/bg.png") no-repeat center / cover;
    overflow: hidden;
}
.section1 .showbox {
    background: url("../images/yws_lz/fgssq/1.png") no-repeat center / contain;
    width: 320px;
    height: 345px;
    /*width: 84%;
      height: 59.2%;*/
    margin: 7.4% auto 0;
    padding: 50px 40px;
    z-index: 2;
}
.section1 .showbox .con {
    height: 100%;
    width: 100%;
}
.section1 .showbox .con h3 {
    text-align: center;
    font: normal 400 18px/40px "MicroSoft YaHei";
}
.section1 .showbox .con p {
    font: normal 400 14px/24px "MicroSoft YaHei";
    padding-bottom: 6px;
}
.section1 .next {
    width: 45%;
    margin: 30px auto;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-size: 14px;
    background: url("../images/yws_lz/fgssq/button.png") no-repeat center / contain;
}
/*第一屏 end*/
/*第二屏 start*/
.section2 {
    background: url("../images/yws_lz/fgssq/bg.png") no-repeat center / cover;
    overflow: hidden;
}
.section2 .showbox {
    background: url("../images/yws_lz/fgssq/2.png") no-repeat center / contain;
    width: 320px;
    height: 422px;
    /*width: 84%;
      height: 59.2%;*/
    margin: 5.4% auto 0;
    padding: 40px 40px;
    z-index: 2;
}
.section2 .showbox .con {
    height: 100%;
    width: 100%;
}
.section2 .showbox .con h3 {
    text-align: center;
    font: normal 400 18px/40px "MicroSoft YaHei";
}
.section2 .showbox .con p {
    font: normal 400 14px/24px "MicroSoft YaHei";
}
.section2 .next {
    width: 45%;
    margin: 0 auto;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-size: 14px;
    background: url("../images/yws_lz/fgssq/button.png") no-repeat center / contain;
}
/*第二屏 end*/
/*第三屏 start*/
.section3 {
    background: url("../images/yws_lz/fgssq/bg.png") no-repeat center / cover;
    overflow: hidden;
}
.section3 .showbox {
    background: url("../images/yws_lz/fgssq/3.png") no-repeat center / contain;
    width: 320px;
    height: 452px;
    position: relative;
    margin: 0 auto 0;
    padding: 50px 40px;
    z-index: 2;
}
.section3 .showbox form {
    width: 100%;
    height: 100%;
}
.section3 .showbox .con {
    height: 100%;
    width: 100%;
    position: relative;
}
.section3 .showbox .con h3 {
    text-align: center;
    font: normal 400 18px/24px "MicroSoft YaHei";
}
.section3 .showbox .con ul li p {
    position: relative;
    font-size: 14px;
}
.section3 .showbox .con ul li p i {
    vertical-align: middle;
    color: red;
}
.section3 .showbox .con ul li .con-box {
    margin-top: 8px ;
    margin-bottom: 8px ;
    display: flex;
    justify-content: space-between;
}
.section3 .showbox .con ul li .con-box span {
    float: left;
    flex: 1;
    font-size: 12px;
}
.section3 .showbox .con ul li .con-box .img-box {
    flex: 2;
}
.section3 .showbox .con ul li .con-box .img-box img {
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: red;
    margin: 0 auto;
}
.section3 .showbox .con ul li .con-box a {
    flex: 2;
    width: 44px;
    height: 22px;
    overflow: hidden;
    float: left;
    top: 21px;
    position: relative;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 10px;
    background: url("../images/yws_lz/fgssq/file.png") no-repeat center / contain;
}
.section3 .showbox .con ul li .con-box a input {
    position: absolute;
    right: -1px;
    top: -1px;
    font-size: 100px;
    opacity: 1;
    filter: alpha(opacity=1);
}
.section3 .showbox .con ul li .con-box .filebox {
    flex: 2;
}
.section3 .showbox .con ul li .con-box .filebox .filebox-box {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    margin: 0 auto;
}
.section3 .showbox .con .next-page {
    position: absolute;
    bottom: 15px;
    right: -12px;
    padding: 12px;
    color: #0a6eab;
    font: normal 700 14px "MicroSoft YaHei";
}
.section3 .showbox .con .next-page i {
    -webkit-transform: scaleY(1.8);
    -moz-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    transform: scaleY(1.8);
}
.section3 .showbox .con-next,
.section3 .showbox .con-end {
    display: none;
}
.section3 .showbox .con-next ul li,
.section3 .showbox .con-end ul li {
    margin-top: 20px;
}
.section3 .showbox .con-next .prev-page,
.section3 .showbox .con-end .prev-page {
    position: absolute;
    bottom: 15px;
    left: -12px;
    padding: 12px;
    color: #0a6eab;
    font: normal 700 14px "MicroSoft YaHei";
}
.section3 .showbox .con-next .prev-page i,
.section3 .showbox .con-end .prev-page i {
    -webkit-transform: scaleY(1.8);
    -moz-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    transform: scaleY(1.8);
}
.section3 .showbox .con-end {
    display: none;
}
.section3 .showbox .con-end ul li p input {
    width: 140px;
    background-color: transparent;
    border: 1px solid #000;
}
.section3 .showbox .finish {
    width: 46%;
    height: 48px;
    background: url("../images/yws_lz/fgssq/finish.png") no-repeat center / contain;
    position: absolute;
    bottom: -48px;
    left: 50%;
    margin-left: -23%;
    color: white;
    line-height: 48px;
    text-align: center;
    display: none;
    font-size: 14px;
}
@media screen and (max-width: 320px) {
    .section3 .showbox .finish {
        bottom: 30px;
        left: 70%;
    }
}
.section3 .showbox .con.con-first .next-page {
    bottom: -5px;
}
/*第三屏 end*/
